### improting

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('original_dataset.xlsx')

### Data Profiling

In [4]:
df.head()

,Unnamed: 0,review_description,rating,company
0,0,سيئ جدا بعد الإصدار الجديد,-1,alahli_bank
1,1,ابلكيشن زباله بجد,-1,alahli_bank
2,2,سيئ التطبيق لايعمل,-1,alahli_bank
3,3,للأسف التطبيق للأسوأ كان جدا رائع وسهل وبسيط ا...,-1,alahli_bank
4,4,التحديث بطيئ جدا جدا عند الفتح,-1,alahli_bank

In [5]:
df.tail()

,Unnamed: 0,review_description,rating,company
67122,67122,كتاب جيد وإن كان مملا بعض الشيء عند منتصف الكت...,0,hotels
67123,67123,أول تجربة مع الخيال العلمي...الكثير من المعلوم...,0,hotels
67124,67124,مرضي. الافطار لذيذ. لا يوجد قائمة طعام في الغر...,0,hotels
67125,67125,الرسائل بين وائل و شوق كانت أجمل مافي الرواية....,0,hotels
67126,67126,استقبال سيء جدا وعدم الاستعداد للنزلاء . لا شي...,0,hotels

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67127 entries, 0 to 67126
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          67127 non-null  int64
 1   review_description  67125 non-null  object
 2   rating              67127 non-null  int64
 3   company             67127 non-null  object
dtypes: int64(2), object(2)
memory usage: 2.0+ MB

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,67127.0,33563.000000,19378.040097,0.0,16781.5,33563.0,50344.5,67126.0
rating,67127.0,-0.040163,0.802836,-1.0,-1.0,0.0,1.0,1.0

In [9]:
df

,Unnamed: 0,review_description,rating,company
0,0,سيئ جدا بعد الإصدار الجديد,-1,alahli_bank
1,1,ابلكيشن زباله بجد,-1,alahli_bank
2,2,سيئ التطبيق لايعمل,-1,alahli_bank
3,3,للأسف التطبيق للأسوأ كان جدا رائع وسهل وبسيط ا...,-1,alahli_bank
4,4,التحديث بطيئ جدا جدا عند الفتح,-1,alahli_bank
...,...,...,...,...
67122,67122,كتاب جيد وإن كان مملا بعض الشيء عند منتصف الكت...,0,hotels
67123,67123,أول تجربة مع الخيال العلمي...الكثير من المعلوم...,0,hotels
67124,67124,مرضي. الافطار لذيذ. لا يوجد قائمة طعام في الغر...,0,hotels
67125,67125,الرسائل بين وائل و شوق كانت أجمل مافي الرواية....,0,hotels
67126,67126,استقبال سيء جدا وعدم الاستعداد للنزلاء . لا شي...,0,hotels

In [10]:
df.dtypes

Unnamed: 0             int64
review_description    object
rating                 int64
company               object
dtype: object

In [11]:
df['rating'].value_counts()

rating
 0    23753
-1    23035
 1    20339
Name: count, dtype: int64

In [12]:
df.duplicated().sum()

np.int64(0)

In [16]:
df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, review_description, rating, company]
Index: []

In [17]:
df.isna().sum()

Unnamed: 0            0
review_description    2
rating                0
company               0
dtype: int64

In [18]:
df[df['review_description'].isna()]

       Unnamed: 0 review_description  rating company
63890       63890                NaN       0  hotels
64405       64405                NaN       0  hotels

### Okay, since there's only two instances that are `nulls`; we can just drop them

In [19]:
df.dropna(subset=['review_description'], inplace=True)

In [20]:
df.isna().sum()

Unnamed: 0            0
review_description    0
rating                0
company               0
dtype: int64